body {
    background-image: url(561065-quarto.png);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: url(paintbrush-155536__340.png), auto;
}

h1, p {
    text-align: center;
    font-family: 'Finger Paint', cursive;
}
.box {
    border: 2px solid black;
    height: 40px;
    width: 40px;
    margin: 5px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.blank {
    background-color: none;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.purple {
    background-color: purple;
}

.brown {
    background-color: brown;
}

.black {
    background-color: black;
}

.gray {
    background-color: gray;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

#canvas1 {
    background-color: red;
    border-radius: 25px;
    width: 25px;
}

#canvas2 {
    background-color: blue;
    border-radius: 25px;
    width: 25px;
}

#canvas3 {
    background-color: green;
    border-radius: 25px;
    width: 25px;
}

#canvas4 {  
    background-color: yellow;
    border-radius: 25px;
    width: 25px;
}

#canvas5 {
    background-color: orange;
    border-radius: 25px;
    width: 25px;
}

#canvas6 {
    background-color: purple;
    border-radius: 25px;
    width: 25px;
}

#canvas7 {
    background-color: brown;
    border-radius: 25px;
    width: 25px;
}

#canvas8 {  
    background-color: black;
    border-radius: 25px;
    width: 25px;
}

#canvas9 {  
    background-color: gray;
    border-radius: 25px;
    width: 25px;
}

#indicator {
    background-color: none;
}